.App {
  padding: 10px;
}

.toolbar {
  display: flex;
  gap: 5px;
}

button {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
}

button:hover {
  background-color: #ccc;
  cursor: pointer;
}

#bold {
  font-weight: bold;
}

#italic {
  font-style: italic;
}

#underline {
  text-decoration: underline;
}

.editor {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  outline: none;
}
